#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test/clj" "src"]
          :ns-patterns [".*"]}
         {:id          :integration
          :test-paths  ["test/e2e"]
          :ns-patterns [".*"]}]
          :plugins [:kaocha.plugin/junit-xml]
          :kaocha.plugin.junit-xml/target-file "target/test-reports/junit.xml"
          :reporter kaocha.report.progress/report
          ;; :plugins [:kaocha.plugin/profiling :kaocha.plugin/notifier]
 }
